<!-- footer -->
<footer>
    <div class="flex footer-items">
        <div class="flex col33">
            <div class="col1">
                <img src="https://res.cloudinary.com/doaux2ndg/image/upload/v1670076219/FlightMangement/logo_komha6.png" alt="Logo">
                <div class="infomation">
                    <i class="fas fa-map-signs">
                        <span>  512 Nguyễn Thái Sơn - Gò Vấp - TP HCM </span>
                    </i>
                    <br>
                    <i class="fas fa-phone-alt">
                        <span> 0399411749</span>
                    </i>
                    <br>
                    <i class="fas fa-envelope">
                        <span> afforda@gmail.com</span>
                    </i>
                    <br>
                    <i class="fas fa-clock">
                        <span>Mon - Sat: 8h00 - 17h30</span>
                    </i>
                </div>
                <br>
                <div class="social">
                    <span>Social:</span>
                    <a href="https://www.facebook.com/" target="blank" id="1"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="blank" id="2"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/" target="blank" id="3"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.google.com.vn/" target="blank" id="4"><i class="fab fa-google-plus-g"></i></a>
                    <a href="https://www.youtube.com/" target="blank" id="5"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="flex col33">
            <div class="col2">
                <div>
                    <h1>Khách Hàng</h1>
                </div>
                <div class="flex c-menu">
                    <ul>
                        <li><a href="#">Điều kiện & điều khoản</a></li>
                        <li><a href="#">Quyền riêng tư</a></li>
                        <li><a href="#">Chính sách bảo mật và thông tin</a></li>
                        <li><a href="#">Ý kiến khách hàng</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex col33">
            <div class="col3">
                <div class="flex col3-title">
                    <h1>Đăng Ký</h1>
                </div>
                <div class="flex col3-items">
                    <div class="col3-item">
                        <div>
                            <div>
                                <span>Đăng kí để được nhận thông tin khuyến mãi một cách nhanh chóng!</span>
                            </div>
                            <br>
                            <div>
                                <div>
                                    <input type="text" placeholder="Nhập email"/>
                                </div>
                                <div class="flex bn">
                                    <a href="/register">Đăng ký</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>