<header>
    <div class="main-menu">
        <img src="https://res.cloudinary.com/doaux2ndg/image/upload/v1670076219/FlightMangement/logo_komha6.png" alt="logo">
        <div class="menu">
            <ul class="flex menu-items">
                <li>
                    <a class="nav-link" href="{{url_for('home')}}">Trang chủ <span class="sr-only"></span></a>
                </li>
                <li>
                    <a class="nav-link" href="{{url_for('news')}}">Tin tức<span class="sr-only"></span></a>
                </li>
                {%if current_user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('buy_ticket')}}">Mua vé</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('get_orders')}}">Xem các đơn đã mua</a>
            </li>
            {%endif%}
                <li>
                    <div class="user">
                        <a href="#"><i class="fas fa-user"></i></a>
                        <div class="flex menu-user">
                            {% if current_user.is_authenticated %}
                                <div class="flex" id="admin">
                                    <a href="{{url_for('profile')}}">Profile</a>
                                </div>
                                <div>
                                    <span>/</span>
                                </div>
                                <div class="flex logout">
                                    <a href="{{url_for('user_signout')}}">Đăng xuất</a>
                                </div>
                            {% else %}
                                <div class="flex">
                                    <a href="/register">Đăng ký</a>
                                </div>
                                <div>
                                    <span>/</span>
                                </div>
                                <div class="flex" id="login">
                                    <a href="{{url_for('user_signin')}}">Đăng nhập</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="flex Slogan">
        <div class="flex Slogan-text">
            <p>
                Hành trình nghìn dặm bắt đầu từ một bước chân.
            </p>
        </div>

        <div class="Slogan-bn">
            <div class="out-line">
                <div class="in-line">
                    <a href="{{url_for('buy_ticket')}}" target="_self">ĐẶT VÉ NGAY!!!</a>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</header>