{% extends 'admin/base.html'%}
{% block body %}
<h1 class="text-center text-primary" style="margin: 20px 0px;">THỐNG KÊ USER THEO TỈNH </h1>

<div class="row">
    <form method="post" id="register-form" enctype="multipart/form-data">
        <div class="sub" style="display:flex">
            <div class="form-floating mt-3 mb-3 sub__type">
                <select id="my-dropdown" name ='diachi'>
                    {%for i in range(len)%}
                        <option value="{{stt[i]}}">{{tentinh[i]}}</option>
                    {%endfor%}
                </select>
            </div>

        </div>
        <div class="control">
            <div>
                <input id="btnSubmit" type="submit" value="Xem" class="btn btn-danger"/>
            </div>
        </div>
    </form>

    <div class="col-md-6 col-xs-12">
        {% if result %}
        <table class="table table-light table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>
                    id
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Username
                </th>
                <th>
                    Password
                </th>
                <th>
                    email
                </th>
            </tr>
            </thead>
            {% for i in range(len_list)%}
            <tr>
                <td> {{list_id[i]}}</td>
                <td> {{list_name[i]}}</td>
                <td> {{list_username[i]}}</td>
                <td> {{list_password[i]}}</td>
                <td> {{list_email[i]}}</td>
            </tr>
            {%endfor%}
        </table>

        {%endif%}
    </div>
</div>
{% endblock %}