*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: my-title-font;
  src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: my-font;
  src: url('../fonts/Montserrat-Medium.ttf');
}


body{
    font-size: 16px;
    font-family: my-font;
}
a{
    text-decoration: none;
}
:root {
    --secondary-color: #43B0F1;
    --primary-color: #057DCD;
    --dark-color: #1E3D58;
}
.background{
    width: 100%;
    background-image: url(https://www.donatella-tur.md/uploads/menu/img-plane-tickets-1593356694.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.info-box{
    background: linear-gradient(135deg, rgba(210,230,250,0.1), rgba(255,255,255,0));
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    border: 2px solid rgba(255,255,255,0.17);
    backdrop-filter: blur(15px);
}

.text{
    opacity: 1 !important;
    color: #FFF !important;
}
.info-box input, .info-box select{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #FFF;
}


.info-box input:focus, .info-box select:focus{
    background: transparent;
    border-bottom: 2px solid var(--primary-color);
}


.introduce h1{
    color: var(--primary-color);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    font-size: 3rem;
    font-family: my-title-font;
}

.myline{
    height: 70px;
    border-left: 2px solid #000
}

.my-sub-text{
    font-size: 0.7srem;
}

.my-secondary-text{
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color)
}

.my-primary-text{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--primary-color)
}

.my-normal-text{
    font-size: 1rem;
}

.my-btn{
    background: var(--secondary-color);
    border: 0;
}

.my-btn:hover{
    background: var(--primary-color);
    color: #fff !important;
}
input:focus{
    box-shadow:0 0 0 0px red;
    background: transparent;
}

