@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
:root {
  --main-color: #6dbfe2;
}

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.body {
  font-size: 15px;
  font-family: monospace;
}

section {
  margin-top: 50px;
}

.container{
  margin: 2.5rem auto;
  padding: 0 0.75rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.container {
    height: 100%;
}*/

/* --------header --------*/

header {
    background: url('https://res.cloudinary.com/doaux2ndg/image/upload/v1670076220/FlightMangement/nhaTrang_lwglis.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

          /* -----menu----- */

  .menu-items > li:first-child a{
    position: relative;
  }

  .menu-items > li:first-child a::after {
    content: " ";
    width: 70px;
    border-width: 1%;
    border-radius: 10px;
    border-style: solid;
    position: absolute;
    bottom: 0px;
    left: 30px;
  }

/*----- Slogan-header ----- */

.Slogan {
  height: calc(100% - 87px);
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
}

.Slogan-text {
  width: 70%;
}

.Slogan-text p {
  font-family: Slogan;
  width: 80%;
  color: paleturquoise;
  font-size: 75px;
}

.Slogan-bn {
  width: 30%;
  animation: bn 2s ease-in-out infinite alternate;
}

  .in-line {
    background: skyblue;
    margin: 2.5%;
    position: relative;
    overflow: hidden;
  }

  .in-line a {
    color: darkcyan;
    font-weight: 500;
    display: block;
    padding: 15px 20px;
  }

  .in-line::before {
    content: "";
    width: 120%;
    height: 100%;
    background: teal;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-35deg) translateX(-120%);
    transition: transform 0.5s ease-out;
  }

  .out-line {
    border: 1px solid silver;
    width: 70%;
  }

  .out-line:hover .in-line::before {
    transform: skewX(-35deg) translateX(-10%);
  }

  .out-line:hover a {
    color: lightcyan;
    position: relative;
    z-index: 999;
  }

  @keyframes bn {
    0%, 100% {
      transform:translateY(10%);
    }
    50% {
      transform: translateY(-10%);
    }
  }