*{
    margin: 0;
    padding: 0;
}
.plane{
    background: #fff;
    width: fit-content;
    padding: 150px 50px 50px 50px !important;
    border-radius: 80% 80% 0 0;
}

.cell{
    height: 35px;
    width: 40px;
}
.seat{
    background: var(--secondary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
}

.seat:hover{
    opacity: 1;
    background: var(--primary-color);
}

.vip-seat{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background: #F9D976;
}

.vip-seat:hover{
    opacity: 1;
    background: #FFD53D;
}

.selected-seat{
    opacity: 1;
    background: var(--primary-color);
}

.selected-vip-seat{
    opacity: 1;
    background: #FFD53D;
}

.unavailable{
    background: Gray !important;
    cursor: not-allowed;
}

.my-back{
    padding: 10px;
    background: #fff;
    height: fit-content;
}

.right-side{
    left: 100%;
    transform: translate(-110%,0)
}