{% extends 'layout/base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/buyticket.css') }}" rel="stylesheet"/>
{% endblock %}
{% block js %}
<script defer src="{{ url_for('static', filename='js/decorator.js') }}"></script>
<script src="{{ url_for('static', filename='js/buyticket.js') }}"></script>
{%endblock%}


{% block title %}Đặt vé{% endblock %}


{% block content %}
<div class="background base vh-100">
    <div class="d-flex justify-content-around h-100 align-items-center">
        <div class="introduce col-4">
            <h1>ĐẶT CHUYẾN BAY CHO BẠN NGAY HÔM NAY</h1>
            <p>Trang website của chúng tôi sẽ giúp bạn tìm kiếm, đặt chuyến bay uy tín và thuận tiện nhất</p>
        </div>
        <form action="buy-ticket/step-2" class="info-box col-5 p-5 rounded-3">
            <h3 class="text-center fs-2">ĐẶT CHUYẾN BAY</h3>
            <div class="form-floating my-2">
                <select required class="text-dark form-select shadow-none" name="from"
                        aria-label="Floating label select example">
                    <option value="" selected>Địa điểm xuất phát</option>
                    {% for a in airports %}
                    <option value="{{a.code}}">{{a.location}} ({{a.code}})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-floating my-2">
                <select required class="text-dark form-select shadow-none" name="to" aria-label="Floating label select example">
                    <option value="" selected>Địa điểm đến</option>
                    {% for a in airports %}
                    <option value="{{a.code}}">{{a.location}} ({{a.code}})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-floating mb-3 mt-3">
                <input required type="date" class="text-dark form-control shadow-none" id="date" name="date">
                <label class="" for="date">Ngày xuất phát</label>
            </div>

            <div class="form-floating mt-3 mb-3">
                <input id="guest" name="guest" type="number" min="1" class="text-dark form-control shadow-none" placeholder="Nhập số khách">
                <label for="guest">Số khách</label>
            </div>

            <button type="submit" class="mt-3 p-3 btn my-btn w-100 text-white fs-5">Tiếp tục</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}

{%endblock%}
