{% extends 'selectseat.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/selectseat.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/buyticket.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Nhập thông tin{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="background base py-5 px-5">
    <form>
        <div class="d-flex col-6 ">
            <div class="w-100">
                {% for s in seats %}
                <div id="{{s}}" action="buy-ticket" class="w-100 p-4 rounded-3 my-back mb-5 customers-info">
                    <h5>Ghế {{seats[s]["name"]}}</h5>
                    <div>Thông tin cơ bản</div>
                    <div class="form-floating mt-3 mb-3">
                        <input required id="name-{{s}}" name="name" type="text" class="text-dark form-control shadow-none">
                        <label for="name-{{s}}">Họ tên khách hàng</label>
                    </div>
                    <div class="form-floating my-2 d-flex">
                        <select required class="text-dark form-select shadow-none" name="gender"
                                aria-label="Floating label select example" id="gender-{{s}}">
                            <option value="" selected></option>
                            <option value="Male">Nam</option>
                            <option value="Female">Nữ</option>
                        </select>
                        <label for="gender-{{s}}">Giới tính</label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <input required type="date" class="text-dark form-control shadow-none" id="dob-{{s}}" name="dob">
                        <label for="dob-{{s}}">Ngày sinh</label>
                    </div>
                    <div class="form-floating mt-3 mb-3">
                        <input required id="serial-{{s}}" name="serial" type="text"
                               class="text-dark form-control shadow-none">
                        <label for="serial-{{s}}">Số CMND/CCCD</label>
                    </div>
                    <div>Thông tin liên lạc</div>
                    <div class="form-floating mb-3 mt-3">
                        <input required type="email" class="text-dark form-control shadow-none" id="email-{{s}}" name="email">
                        <label for="email-{{s}}">Email</label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <input required type="tel" class="text-dark form-control shadow-none" id="phone-{{s}}" name="phone">
                        <label for="phone-{{s}}">Số điện thoại</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-side position-fixed fixed-top" style="margin-top: 10%; width: 40%; max-width: 500px">
            <div class="my-back mt-3" style="border-radius: 6px 6px 0 0;">
                <div class="fs-4 pt-2 pb-3">Đã chọn: <span id="total-quantity">0</span> ghế</div>
            </div>
            <div class="my-back rounded-0" style="max-height: 260px; overflow: auto">
                <div class="list-seats">
                    <div class="d-flex head-list pb-2 text-secondary">
                        <div class="col-3">Tên ghế</div>
                        <div class="col-5">Hạng</div>
                        <div>Giá</div>
                    </div>
                    {% for s in seats %}
                    <div id="" class="d-flex record">
                        <div class="col-3">{{seats[s]['name']}}</div>
                        <div class="col-5">{{seats[s]['rank']}}</div>
                        <div>{{"{:,.0f}".format(seats[s]['price']*1000)}} VNĐ</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="my-back d-flex fs-5 align-items-center" style="border-radius: 0 0 6px 6px;">
                <div>Tổng tiền: </div>
                <div class="ps-2" id="total-price"></div>
                <button type="button" onclick="pay()" class="my-btn ms-auto rounded-3 p-2">Thanh toán</button>
            </div>
        </div>
    </form>
</div>
<script>total()</script>
{% else %}
Vui lòng đăng nhập
{% endif %}
{% endblock %}
{% block footer %}
{%endblock%}
