{% extends 'buyticket.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/buyticket.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/selectseat.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Chọn chỗ ngồi{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="d-flex bg-secondary base p-5 fs-5">
    <div class="plane p-3">
        <div class="d-flex text-center">
            <div>
                <div class="cell mx-2">A</div>
            </div>
            <div>
                <div class="cell mx-2 ">B</div>
            </div>
            <div class="text-center">
                <div class="cell mx-2"></div>
            </div>
            <div>
                <div class="cell mx-2">C</div>
            </div>
            <div>
                <div class="cell mx-2">D</div>
            </div>
        </div>
        <div class="d-flex text-center">
            {% for i in range(2) %}
            <div>
                {% for j in range(vs_count) %}
                    {% if vip_seats[i][j].available %}
                    <div onclick="selectSeat(this, {{vip_seats[i][j].id}}, '{{vip_seats[i][j]}}', '{{vip_seats[i][j].rank.id}}')"
                         class="seat vip-seat cell mx-2 my-3"></div>
                    {% else %}
                    <div class="seat unavailable cell mx-2 my-3"></div>
                    {% endif %}
                {% endfor %}
                {% for x in range(s_count) %}
                    {% if seats[i][x].available %}
                    <div onclick="selectSeat(this, {{seats[i][x].id}}, '{{seats[i][x]}}', '{{seats[i][x].rank.id}}')"
                         class="seat cell mx-2 my-3"></div>
                    {% else %}
                    <div class="seat unavailable cell mx-2 my-3"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            <div class="">
                {% for i in range(vs_count) %}
                <div class="cell mx-2 my-3">{{i + 1}}</div>
                {% endfor %}
                {% for j in range(vs_count, vs_count + s_count) %}
                <div class="cell mx-2 my-3">{{j + 1}}</div>
                {% endfor %}
            </div>
            {% for k in range(2, 4) %}
            <div>
                {% for j in range(vs_count) %}
                    {% if vip_seats[k][j].available %}
                    <div onclick="selectSeat(this, {{vip_seats[k][j].id}}, '{{vip_seats[k][j]}}', '{{vip_seats[k][j].rank.id}}')"
                         class="seat vip-seat cell mx-2 my-3"></div>
                    {% else %}
                    <div class="seat unavailable cell mx-2 my-3"></div>
                    {% endif %}
                {% endfor %}
                {% for x in range(s_count) %}
                    {% if seats[k][x].available %}
                    <div onclick="selectSeat(this, {{seats[k][x].id}}, '{{seats[k][x]}}', '{{seats[k][x].rank.id}}')"
                         class="seat cell mx-2 my-3"></div>
                    {% else %}
                    <div class="seat unavailable cell mx-2 my-3"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="right-side position-fixed fixed-top w-50" style="margin-top: 10%;">
    <div class="my-back d-flex" style="border-radius: 6px">
        <div class="d-flex m-3">
            <div class="seat vip-seat cell me-4" style="width: 30px; height: 25px; border-radius: 10px 10px 0 0"></div>
            <small>Ghế hạng thương gia</small>
        </div>
        <div class="d-flex m-3">
            <div class="seat cell selected me-4" style="width: 30px; height: 25px; border-radius: 10px 10px 0 0"></div>
            <small>Ghế hạng phổ thông</small>
        </div>
        <div class="d-flex m-3">
            <div class="seat unavailable cell sold me-4"
                 style="width: 30px; height: 25px; border-radius: 10px 10px 0 0"></div>
            <small>Đã bán</small>
        </div>
    </div>
    <div class="my-back mt-3" style="border-radius: 6px 6px 0 0;">
        <div class="fs-4 pt-2 pb-3">Đã chọn: <span id="total-quantity">0</span> ghế</div>
    </div>
    <div class="my-back rounded-0" style="max-height: 260px; overflow: auto">
        <div class="list-seats">
            <div class="d-flex head-list pb-2 text-secondary">
                <div class="col-3">Tên ghế</div>
                <div class="col-5">Hạng</div>
                <div>Giá</div>
            </div>
        </div>
    </div>
    <div class="my-back d-flex fs-5 align-items-center" style="border-radius: 0 0 6px 6px;">
            <div>Tổng tiền:</div>
            <div class="ps-2" id="total-price">0 VNĐ</div>
            <button type="submit" onclick="goToStep4()" class="my-btn ms-auto rounded-3 p-2">Tiếp tục</button>
    </div>
</div>
{% else %}
Vui lòng đăng nhập
{% endif %}
{% endblock %}

{% block footer %}
{%endblock%}