{% extends 'layout/base.html' %}
{% block css %}
<link href="{{ url_for('static', filename='css/buyticket.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/selectseat.css') }}" rel="stylesheet"/>
{% endblock %}
{% block js %}
<script defer src="{{ url_for('static', filename='js/decorator.js') }}"></script>
<script src="{{ url_for('static', filename='js/buyticket.js') }}"></script>
{%endblock%}
{% block extra %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
{%endblock%}

{% block title %}Đặt vé{% endblock %}


{% block content %}
<div class="background base p-5" style="min-height: 100vh">
    {% for t in tickets %}
    <div class="mx-auto my-back ticket shadow p-4 mb-5" style="width: 40%; border-radius: 20px">
        <div class="d-flex pb-3 align-items-center" style="border-bottom: 1px solid var(--secondary-color)">
            <div class="col-4 text-center">
                <div class="fs-3 my-primary-text">{{t.flight.airline.departing_airport.code}}</div>
                <div class="fs-6 my-secondary-text">{{t.flight.airline.departing_airport.location}}</div>
                <small class="text-secondary">{{t.flight.airline.departing_airport.name}}</small>
            </div>
            <div class="w-100 text-center">
                <i class="fa-solid fa-plane fs-5 my-primary-text"></i>
            </div>
            <div class="col-4 text-center">
                <div class="fs-3 my-primary-text">{{t.flight.airline.arriving_airport.code}}</div>
                <div class="fs-6 my-secondary-text">{{t.flight.airline.arriving_airport.location}}</div>
                <small class="text-secondary">{{t.flight.airline.arriving_airport.name}}</small>
            </div>
        </div>
        <div>
            <div class="d-flex py-3 justify-content-between">
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        Hành khách
                    </small>
                    <div>{{t.customer.name}}</div>
                </div>
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        CMND/CCCD
                    </small>
                    <div>{{t.customer.serial}}</div>
                </div>
            </div>
            <div class="d-flex py-3 justify-content-between">
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        Mã chuyến bay
                    </small>
                    <div>{{t.flight.id}}</div>
                </div>
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        Máy bay
                    </small>
                    <div>{{t.flight.airplane}}</div>
                </div>
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        Ghế
                    </small>
                    <div>{{t.seat}}</div>
                </div>
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        Hạng
                    </small>
                    <div>{{t.seat.rank}}</div>
                </div>
            </div>
            <div class="d-flex py-3 justify-content-between">
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        Thời gian khởi hành
                    </small>
                    <div>{{t.flight.departing_at.strftime('%d/%m/%Y %H:%M')}}</div>
                </div>
                <div class="">
                    <small class="font-weight-normal" style="color: var(--primary-color)">
                        Thời gian đến
                    </small>
                    <div>{{t.flight.arriving_at.strftime('%d/%m/%Y %H:%M')}}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <canvas id="barcode-{{t.id}}"></canvas>
            <script>showBarCode({{t.id}})</script>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{%endblock%}
